<html>
    <head>
        <script>
            var privateKeyVisible = false;
    
            function togglePrivateKey() {
                var privateKeyElement = document.getElementById('private-key');
                var btnElement = document.getElementById('showbtn');
    
                if (privateKeyVisible) {
                    privateKeyElement.style.display = 'none';
                    privateKeyVisible = false;
                    btnElement.innerHTML = 'show';
                } else {
                    privateKeyElement.style.display = 'inline';
                    privateKeyVisible = true;
                    btnElement.innerHTML = 'hide';
                }
            }
        </script>

    </head>

    <body>
        <h1>Hello {{ user }}</h1>
        <div>
            Your Account Address: {{ address }}
        </div>
        Your Private Key:
        <span id="private-key" style="display: none;">{{ privateKey }}</span><br>
        <button onclick="togglePrivateKey()" id="showbtn">show</button><br>
        <form method="post" action="sendEth">
            <input type="hidden" name="username" value="{{user}}">
            <button>Send Ethereum</button>
            
        </form>
        <br>
        <form method="post" action="receiveEth">
            <input type="hidden" name="username" value="{{user}}">
            <button>Receive Ethereum</button>
        </form>
        <br>
        <form method="post" action="checkBalance">
            <input type="hidden" name="username" value="{{user}}">
            <button>Check Balance</button>
        </form>
        <br>
        <form action="/">
            <button>Logout</button>
        </form>


    </body>
</html>